# Compiler files
cache/
coverage/
out/

# Ignores broadcast logs
!broadcast
broadcast/*

.DS_Store
node_modules

# VS Code history
.history

# Secrets
.envrc
.env

# Generated Docs
reference-out/

# Temporary Config Files
config/deploy.json
config/addressBook.txt